:root {
  --main-color     : hsl(41, 100%, 17%);
  --second-color   : hsl(17, 100%, 31%);
  --main-bg-color  : hsl(41, 100%, 90%);
  --second-bg-color: hsl(17, 94%, 65%);
}

html {
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  color           : var(--main-color);
  font-family     : 'Jetbrains Mono', 'Fira Mono', 'Source Code Pro', 'Victor Mono', 'Droid Sans Mono', 'Cascadia Mono', sans-serif;

  margin        : 0;
  padding       : 0;
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

.container {
  width  : 70%;
  margin : 0 auto;
  padding: 0;
}

main {
  flex: 1 0 auto;

  padding: 2rem 0 !important;
}


@media only screen and (max-device-width: 480px) {
  .container {
    width: 90%;
  }
}

.links {
  list-style-type: none;
  margin         : 0;
  padding        : 0;

  display: flex;
}

.links li {
  margin-right: 1rem;
}

a {
  color          : var(--second-color);
  text-decoration: underline;
}

a:hover,
a:active {
  text-decoration: underline dashed;
}

a:visited {
  color          : var(--second-color);
  text-decoration: dashed;
}


.gif {
  background: url("gifs/sun.gif"), white;

  background-size    : contain;
  background-position: center;
  background-repeat  : no-repeat;
  object-fit         : contain;

  min-height: 20rem;

  /* Hide text */
  line-height: 0em;
  text-indent: -9999px;
}

.gif:hover {
  /* Show text */
  line-height: inherit;
  text-indent: inherit;

  display        : flex;
  align-items    : center;
  justify-content: center;
}